<app-header></app-header>
<div class="about-section">
  <p>Contact Us</p>
</div>
<div class="con">
  <div class="container">
    <div class="contact-form">
      <p class="p">Design your custom contact forms with this Houzez Elementor custom widget and connect your leads with
        the integrated Houzez CRM.</p>
      <form action="#" method="post">
        <div class="form-group">
          <div style="width: 48%;">
            <label for="first-name">First Name <span class="required">*</span></label>
            <input type="text" id="first-name" placeholder="Enter your first name" required>
          </div>
          <div style="width: 48%;">
            <label for="last-name">Last Name <span class="required">*</span></label>
            <input type="text" id="last-name" placeholder="Enter your last name" required>
          </div>
        </div>
        <div class="form-group full-width">
          <label for="email">Email <span class="required">*</span></label>
          <input type="email" id="email" placeholder="Email" required>
        </div>
        <div class="form-group full-width">
          <label for="message">Message <span class="required">*</span></label>
          <textarea id="message" placeholder="Message" required></textarea>
        </div>
        <div class="gdpr">
          <input type="checkbox" required>
          <label>I consent to having this website store my submitted information</label>
        </div>
        <button type="submit" class="submit-btn">Submit</button>
      </form>
    </div>

    <div class="contact-info">
      <div class="gray-background for">
        <h3>For inquiries contact:</h3>
        <p><strong>Amy Miller</strong><br>Public Relations Manager<br>774 NE 84th St Miami, FL
          33879<br>amy.miller&#64;houzez.com</p>
        <p class="Kyle"><strong>Kyle Parker</strong><br>Public Relations Associate<br>774 NE 84th St Miami, FL
          33879<br>kyle.parker&#64;houzez.com</p>
      </div>

      <div class="gray-background cor">
        <h3>Corporate Headquarters:</h3>
        <p>1584 Biscayne Boulevard<br>Miami, FL 33176</p>
      </div>
      <div class="social-icons">
        <div class="icon-div facebook">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
        </div>
        <div class="icon-div youtube">
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="icon-div twitter">
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="icon-div linkedin">
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="icon-div instagram">
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="icon-div skype">
          <a href="#"><i class="fab fa-skype"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="map-container">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d110502.6119705!2d31.175890870533774!3d30.05961123578246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583fa60b21beeb%3A0x79dfb296e8423bba!2sCairo%2C%20Cairo%20Governorate!5e0!3m2!1sen!2seg!4v1727800603166!5m2!1sen!2seg"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
  <p class="address">Address: 1584 Biscayne Blvd, Miami, FL 33132 - <a href="#" class="get">Get Directions</a></p>
</div>

<app-footer></app-footer>
