<app-header></app-header>
<div class="about-section">
  <p>About Us</p>
</div>
<div class="section">
  <div class="left-column">
    <h1 class="Your">Your Vision Unrestricted</h1>
    <p class="Where"><span class="Houzez">Explore a diverse selection of properties designed to suit every lifestyle and
        budget</span>
      Whether you're searching for a cozy apartment, a spacious family home, or a luxurious villa, our real estate
      platform offers an intuitive and user-friendly experience.</p>
    <p class="Whether">
      For real estate professionals, our site offers tools to manage listings, track leads, and communicate with
      clients, helping you efficiently grow your business. Detailed property information, high-quality images, and
      virtual tours allow you to present listings in the best light, attracting potential buyers easily.</p>
  </div>
  <div class="right-column">
    <p class="Houzez2">Our platform is equipped with advanced search filters and personalized recommendations to help
      you find exactly what you're looking for. We also provide up-to-date market insights, neighborhood information,
      and expert advice to support you through every step of your real estate journey.</p>
    <p class="Unlike">Whether you're looking to buy, sell, or invest, our platform offers everything you need in the
      world of real estate. Enjoy a smooth and professional experience that turns your property dreams into reality. We
      provide all the tools and information necessary to make well-informed decisions and achieve your goals.</p>
  </div>
</div>

<section class="team">
  <p class="our">Our Team</p>
  <p class="p">Experienced team ready to assist your property journey.</p>
  <div class="container">
    <div class="team-member">
      <div class="member-img">
        <img src="/images/Image/Artboard-1team.jpg" alt="Keith Bailey">
        <div class="name-overlay">
          <h3>Keith Bailey</h3>
        </div>
        <div class="info-overlay">
          <div class="info">
            <p class="jop"> Sales Manager </p>
            <p class="lorem">"Driven by results, this individual excels in building strong client relationships and
              consistently achieves sales targets with effective strategies and market knowledge." </p>
          </div>
        </div>
      </div>
    </div>

    <div class="team-member">
      <div class="member-img">
        <img src="/images/Image/Artboard-4team.jpg" alt="Danielle Murray">
        <div class="name-overlay">
          <h3>Danielle Murray</h3>
        </div>
        <div class="info-overlay">
          <div class="info">
            <p class="jop">Marketing Specialist</p>
            <p class="lorem">"Creative and innovative, this person develops engaging marketing campaigns that
              effectively highlight properties, attracting new clients and enhancing the brand's visibility."</p>
          </div>
        </div>
      </div>
    </div>

    <div class="team-member">
      <div class="member-img">
        <img src="/images/Image/Artboard-2team.jpg" alt="Thomas Stevens">
        <div class="name-overlay">
          <h3>Thomas Steven</h3>
        </div>
        <div class="info-overlay">
          <div class="info">
            <p class="jop">Real Estate Consultant</p>
            <p class="lorem">"Knowledgeable and approachable, this expert guides clients through informed
              decision-making processes, ensuring satisfaction and success in every real estate transaction." </p>
          </div>
        </div>
      </div>
    </div>

    <div class="team-member">
      <div class="member-img">
        <img src="/images/Image/Artboard-3team.jpg" alt="Keith Bailey">
        <div class="name-overlay">
          <h3>Keith Bailey</h3>
        </div>
        <div class="info-overlay">
          <div class="info">
            <p class="jop">Public Relations Manager</p>
            <p class="lorem">"Skilled in communication, this professional fosters strong relationships with clients and
              partners, enhancing the company's reputation and trust within the real estate community."</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="services">
  <P class="Services">Services</P>
  <p class="p">Comprehensive services tailored to meet your needs</p>
  <div class="containers">
    <div class="service-column">
      <div class="service">
        <div class="service-img">
          <img src="/images/Image/023-592x444.jpg" alt="Service 1">
          <div class="overlay">
            <div class="overlay1">
              <p>Services</p>
              <p>Property Management</p>
            </div>
            <div class="overlay2">
              <p>MORE DETAILS</p>
            </div>
          </div>
        </div>
      </div>
      <div class="service">
        <div class="service-img">
          <img src="/images/Image/205-592x444.jpg" alt="Service 2">
          <div class="overlay">
            <div class="overlay1">
              <p>Services</p>
              <p>Capital Improvements</p>
            </div>
            <div class="overlay2">
              <p>MORE DETAILS</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="service-column">
      <div class="service">
        <div class="service-img">
          <img src="/images/Image/206.jpg" alt="Service 3">
          <div class="overlay">
            <div class="overlay1">
              <p>Services</p>
              <p>Finance Real Estate</p>
            </div>
            <div class="overlay2">
              <p>MORE DETAILS</p>
            </div>
          </div>
        </div>
      </div>
      <div class="service">
        <div class="service-img">
          <img src="/images/Image/007-592x444.jpg" alt="Service 4">
          <div class="overlay">
            <div class="overlay1">
              <p>Services</p>
              <p>Financial Reporting</p>
            </div>
            <div class="overlay2">
              <p>MORE DETAILS</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="service-column">
      <div class="service">
        <div class="service-img service-img1">
          <img src="/images/Image/006.jpg" alt="Service 5">
          <div class="overlay">
            <div class="overlay1">
              <p>Services</p>
              <p>Business Development</p>
            </div>
            <div class="overlay2">
              <p>MORE DETAILS</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="service-column">
      <div class="service">
        <div class="service-img service-img1">
          <img src="/images/Image/204-592x444.jpg" alt="Service 6">
          <div class="overlay">
            <div class="overlay1">
              <p>Services</p>
              <p>Recover Asset Value</p>
            </div>
            <div class="overlay2">
              <p>MORE DETAILS</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blog-section">
  <h2>Read From Our Blog</h2>
  <p>Explore expert insights and tips on real estate. </p>

  <div class="blog-grid">
    <div class="blog-card">
      <div class="image-wrapper">
        <img src="/images/Image/023-592x444.jpg" alt="Blog Image 1">
      </div>
      <div class="blog-info">
        <p class="blog-date"><span>May 12, 2015</span> | <span class="category">Business</span></p>
        <p class="Skills">Skills That You Can Learn In The Real Estate Market</p>
        <p class="blog-summary">Negotiation, market analysis, client communication, sales strategy, legal knowledge,
          networking, financial planning, problem-solving, property evaluation, customer service, marketing techniques.
        </p>
        <a href="#" class="read-more">Continue reading</a>
      </div>
      <hr class="line">
      <div class="author-wrapper">
        <i class="fas fa-user"></i>
        <p class="author">by Mike Moore</p>
      </div>
    </div>

    <div class="blog-card">
      <div class="image-wrapper">
        <img src="/images/Image/007-592x444.jpg" alt="Blog Image 1">
      </div>
      <div class="blog-info">
        <p class="blog-date"><span>March 9, 2016</span> | <span class="category">Business</span></p>
        <p class="Skills">Learn The Truth About Real Estate Industry</p>
        <p class="blog-summary">
          Discover market trends, investment opportunities, property values, industry challenges, legal aspects,
          negotiation strategies, and financial planning for a successful real estate career.</p>
        <a href="#" class="read-more">Continue reading</a>
      </div>
      <hr class="line">
      <div class="author-wrapper">
        <i class="fas fa-user"></i>
        <p class="author">by Mike Moore</p>
      </div>
    </div>

    <div class="blog-card">
      <div class="image-wrapper">
        <img src="/images/Image/205-592x444.jpg" alt="Blog Image 1">
      </div>
      <div class="blog-info">
        <p class="blog-date"><span>March 1, 2016</span> | <span class="category">Business</span></p>
        <p class="Skills">10 Quick Tips About Business Development</p>
        <p class="blog-summary">Set clear goals, build strong networks, understand your market, prioritize clients,
          innovate, track progress, communicate effectively, seek partnerships, stay adaptable, and never stop learning.
        </p>
        <a href="#" class="read-more">Continue reading</a>
      </div>
      <hr class="line">
      <div class="author-wrapper">
        <i class="fas fa-user"></i>
        <p class="author">by Mike Moore</p>
      </div>
    </div>

    <div class="blog-card">
      <div class="image-wrapper">
        <img src="/images/Image/204-592x444.jpg" alt="Blog Image 1">
      </div>
      <div class="blog-info">
        <p class="blog-date"><span>May 9, 2017</span> | <span class="category">Business</span></p>
        <p class="Skills">14 Common Misconceptions About Business Development</p>
        <p class="blog-summary">
          People often confuse sales with business development, underestimate relationship building, overlook market
          research, ignore strategic planning, and expect results without sustainable growth efforts.</p>
        <a href="#" class="read-more">Continue reading</a>
      </div>
      <hr class="line">
      <div class="author-wrapper">
        <i class="fas fa-user"></i>
        <p class="author">by Mike Moore</p>
      </div>
    </div>
  </div>
</div>

<div class="testimonials-section">
  <h2>Testimonials</h2>
  <p>Hear what our clients say about their experiences.</p>

  <div class="testimonials-container">
    <div class="testimonial">
      <p>The team provided exceptional service, making our home-buying experience seamless and enjoyable. Highly
        recommended!</p>
      <div class="authors">
        <img src="/images/Image/64.jpg" alt="Roy Bennett">
        <p>Roy Bennett<br>Manager, Company Inc.</p>
      </div>
    </div>

    <div class="testimonial">
      <p>I was impressed by their professionalism and expertise. They truly understood my needs and delivered
        outstanding results</p>
      <div class="authors">
        <img src="/images/Image/48.jpg" alt="Kenya Soval">
        <p>Kenya Soval<br>Realtor, Company Inc.</p>
      </div>
    </div>

    <div class="testimonial">
      <p>Fantastic experience from start to finish! Their exceptional attention to detail and unwavering dedication
        truly set them apart from others.</p>
      <div class="authors">
        <img src="/images/Image/44.jpg" alt="Kathleen Peterson">
        <p>Kathleen Peterson<br>Manager, Company Inc.</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
