<div class="agent-side-bar">
  <div class="links">
    <ul>
      <li>
        <i class="fa-solid fa-city"></i>
        <a routerLink="/">Properties</a>
      </li>
      <li>
        <i class="fa-solid fa-circle-plus"></i>
        <a routerLink="/">Add Property</a>
      </li>
      <li>
        <i class="fa-solid fa-clipboard-list"></i>
        <a routerLink="/">Membership</a>
      </li>
      <li>
        <i class="fa-solid fa-file-invoice-dollar"></i>
        <a routerLink="/">Invoices</a>
      </li>
      <li style="flex-direction: column; padding: 0; margin: 0;align-items: flex-start; gap: 0;">
        <div class="agents">
          <i style="margin-right: 10px;" class="fa-solid fa-user-group"></i>
          <a routerLink="/">Agents</a>
        </div>
        <ul>
          <li>
            <i class="fa-solid fa-chevron-right"></i>
            <a routerLink="/">Add Agent</a>
          </li>
        </ul>
      </li>
      <li>
        <i class="fa-regular fa-circle-user"></i>
        <a routerLink="/">My Profile</a>
      </li>
      <li>
        <i class="fa-solid fa-right-from-bracket"></i>
        <a routerLink="/" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</div>
