<app-header></app-header>
<div class="header" style="background-color: #00335A; height: 90px;"></div>
<div class="property" style="background-color: #f7f8f9;">
  <div class="container">
    <div class="head">
      <h2>Renovated apartment at last floor</h2>
      <span>$252,000</span>
    </div>
    <div class="main-address">
      <i class="fa-solid fa-location-dot"></i>
      <div class="address-details">
        10425 Tabor St, Los Angeles, CA 90034, USA
      </div>
    </div>
    <div class="slider">

    </div>
    <div class="overview">
      <div class="overview-details">
        <p>Overview</p>
        <div class="id">
          <p>Property ID: </p>
          <span>HZ48</span>
        </div>
      </div>
      <div class="details">
        <div>
          <span>Apartment</span>
          <p>Property Type</p>
        </div>
        <div>
          <div class="img">
            <img src="/images/bed.png" alt="">
            <span>2</span>
          </div>
          <p>Bedrooms</p>
        </div>
        <div>
          <div class="img">
            <img src="/images/bath.png" alt="">
            <span>3</span>
          </div>
          <p>Bathrooms</p>
        </div>
        <div>
          <div class="img">
            <img src="/images/car.png" alt="">
            <span>1</span>
          </div>
          <p>Garage</p>
        </div>
        <div>
          <div class="img">
            <img src="/images/triangular-ruler.png" alt="">
            <span>1500</span>
          </div>
          <p>Sq Ft</p>
        </div>
        <div>
          <div class="img">
            <img src="/images/date.png" alt="">
            <span>2006</span>
          </div>
          <p>Year Built</p>
        </div>
      </div>
    </div>
    <div class="description">
      <h3>Description</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
        magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
        ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
        consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
        praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
        <br>
        <br>
        Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim
        assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes
        demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur
        mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit
        litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum
        clari, fiant sollemnes in futurum.
      </p>
    </div>
    <div class="address">
      <div class="head">
        <h3>Address</h3>
        <a href="" class="map">
          <i class="fa-regular fa-map"></i>
          <span>Open on Google Maps</span>
        </a>
      </div>
      <div class="body">
        <div class="details">
          <div class="addr">
            <h4>Address</h4>
            <span>10425 Tabor St</span>
          </div>
          <div class="zip">
            <h4>Zip/Postal Code</h4>
            <span>90034</span>
          </div>
          <div class="city">
            <h4>City</h4>
            <span>Los Angeles</span>
          </div>
          <div class="area">
            <h4>Area</h4>
            <span>Brookside</span>
          </div>
          <div class="state">
            <h4>State/county</h4>
            <span>California</span>
          </div>
          <div class="country">
            <h4>Country</h4>
            <span>United States</span>
          </div>
        </div>
      </div>
    </div>
    <div class="feature">
      <h3>Features</h3>
      <div class="feature-details">
        <div>
          <i class="fa-regular fa-circle-check"></i>
          <span>Air Conditioning</span>
        </div>
        <div>
          <i class="fa-regular fa-circle-check"></i>
          <span>Refrigerator</span>
        </div>
        <div>
          <i class="fa-regular fa-circle-check"></i>
          <span>Barbeque</span>
        </div>
        <div>
          <i class="fa-regular fa-circle-check"></i>
          <span>Sauna</span>
        </div>
        <div>
          <i class="fa-regular fa-circle-check"></i>
          <span>Dryer</span>
        </div>
        <div>
          <i class="fa-regular fa-circle-check"></i>
          <span>Swimming Pool</span>
        </div>
        <div>
          <i class="fa-regular fa-circle-check"></i>
          <span>Gym</span>
        </div>
        <div>
          <i class="fa-regular fa-circle-check"></i>
          <span>TV Cable</span>
        </div>
        <div>
          <i class="fa-regular fa-circle-check"></i>
          <span>Laundry</span>
        </div>
        <div>
          <i class="fa-regular fa-circle-check"></i>
          <span>Washer</span>
        </div>
        <div>
          <i class="fa-regular fa-circle-check"></i>
          <span>Lawn</span>
        </div>
        <div>
          <i class="fa-regular fa-circle-check"></i>
          <span>WiFi</span>
        </div>
        <div>
          <i class="fa-regular fa-circle-check"></i>
          <span>Microwave</span>
        </div>
        <div>
          <i class="fa-regular fa-circle-check"></i>
          <span>Window Coverings</span>
        </div>
        <div>
          <i class="fa-regular fa-circle-check"></i>
          <span>Outdoor Shower</span>
        </div>
      </div>
    </div>
  </div>
</div>
<hr><hr><hr><hr>
@if(property) {
  <div class="property" style="background-color: #f7f8f9;">
    <div class="container">
      <div class="head">
        <h2>Renovated apartment at last floor</h2>
        <span>$252,000</span>
      </div>
      <div class="main-address">
        <i class="fa-solid fa-location-dot"></i>
        <div class="address-details">
          10425 Tabor St, Los Angeles, CA 90034, USA
        </div>
      </div>
      <div class="slider">

      </div>
      <div class="overview">
        <div class="overview-details">
          <p>Overview</p>
          <div class="id">
            <p>Property ID: </p>
            <span>HZ48</span>
          </div>
        </div>
        <div class="details">
          <div>
            <span>Apartment</span>
            <p>Property Type</p>
          </div>
          <div>
            <div class="img">
              <img src="/images/bed.png" alt="">
              <span>2</span>
            </div>
            <p>Bedrooms</p>
          </div>
          <div>
            <div class="img">
              <img src="/images/bath.png" alt="">
              <span>3</span>
            </div>
            <p>Bathrooms</p>
          </div>
          <div>
            <div class="img">
              <img src="/images/car.png" alt="">
              <span>1</span>
            </div>
            <p>Garage</p>
          </div>
          <div>
            <div class="img">
              <img src="/images/triangular-ruler.png" alt="">
              <span>1500</span>
            </div>
            <p>Sq Ft</p>
          </div>
          <div>
            <div class="img">
              <img src="/images/date.png" alt="">
              <span>2006</span>
            </div>
            <p>Year Built</p>
          </div>
        </div>
      </div>
      <div class="description">
        <h3>Description</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore
          magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
          lobortis nisl
          ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
          molestie
          consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
          blandit
          praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
          <br>
          <br>
          Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer
          possim
          assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes
          demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui
          sequitur
          mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram,
          anteposuerit
          litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis
          videntur parum
          clari, fiant sollemnes in futurum.
        </p>
      </div>
      <div class="address">
        <div class="head">
          <h3>Address</h3>
          <a href="" class="map">
            <i class="fa-regular fa-map"></i>
            <span>Open on Google Maps</span>
          </a>
        </div>
        <div class="body">
          <div class="details">
            <div class="addr">
              <h4>Address</h4>
              <span>10425 Tabor St</span>
            </div>
            <div class="zip">
              <h4>Zip/Postal Code</h4>
              <span>90034</span>
            </div>
            <div class="city">
              <h4>City</h4>
              <span>Los Angeles</span>
            </div>
            <div class="area">
              <h4>Area</h4>
              <span>Brookside</span>
            </div>
            <div class="state">
              <h4>State/county</h4>
              <span>California</span>
            </div>
            <div class="country">
              <h4>Country</h4>
              <span>United States</span>
            </div>
          </div>
        </div>
      </div>
      <div class="feature">
        <h3>Features</h3>
        <div class="feature-details">
          <div>
            <i class="fa-regular fa-circle-check"></i>
            <span>Air Conditioning</span>
          </div>
          <div>
            <i class="fa-regular fa-circle-check"></i>
            <span>Refrigerator</span>
          </div>
          <div>
            <i class="fa-regular fa-circle-check"></i>
            <span>Barbeque</span>
          </div>
          <div>
            <i class="fa-regular fa-circle-check"></i>
            <span>Sauna</span>
          </div>
          <div>
            <i class="fa-regular fa-circle-check"></i>
            <span>Dryer</span>
          </div>
          <div>
            <i class="fa-regular fa-circle-check"></i>
            <span>Swimming Pool</span>
          </div>
          <div>
            <i class="fa-regular fa-circle-check"></i>
            <span>Gym</span>
          </div>
          <div>
            <i class="fa-regular fa-circle-check"></i>
            <span>TV Cable</span>
          </div>
          <div>
            <i class="fa-regular fa-circle-check"></i>
            <span>Laundry</span>
          </div>
          <div>
            <i class="fa-regular fa-circle-check"></i>
            <span>Washer</span>
          </div>
          <div>
            <i class="fa-regular fa-circle-check"></i>
            <span>Lawn</span>
          </div>
          <div>
            <i class="fa-regular fa-circle-check"></i>
            <span>WiFi</span>
          </div>
          <div>
            <i class="fa-regular fa-circle-check"></i>
            <span>Microwave</span>
          </div>
          <div>
            <i class="fa-regular fa-circle-check"></i>
            <span>Window Coverings</span>
          </div>
          <div>
            <i class="fa-regular fa-circle-check"></i>
            <span>Outdoor Shower</span>
          </div>
        </div>
      </div>
    </div>
  </div>
}@else {
  <h2>Nod Found</h2>
}
<app-footer></app-footer>
