<!-- Start Footer -->
<!-- Start Main Footer -->
<footer class="main-footer">
  <div class="container">
    <div class="discover">
      <h3>Discover</h3>
      <nav class="footerNav">
        <ul>
          <li><a routerLink="/">
            <i class="fa-solid fa-angle-right"></i>
            Miami
          </a></li>
          <li><a routerLink="/">
            <i class="fa-solid fa-angle-right"></i>
            Los Angeles
          </a></li>
          <li><a routerLink="/">
            <i class="fa-solid fa-angle-right"></i>
            Chicago
          </a></li>
          <li><a routerLink="/">
            <i class="fa-solid fa-angle-right"></i>
            New York
          </a></li>
        </ul>
      </nav>
    </div>
    <div class="contact">
      <h3>Contact Us</h3>
      <div class="contInfo">
        <div>
          <i class="fa-solid fa-location-dot"></i>
          <span>
            774 NE 84th St Miami, FL 33879
          </span>
        </div>
        <div>
          <i class="fa-solid fa-phone-volume"></i>
          <a href="tel:8794561349">879 456 1349</a>
        </div>
        <div>
          <i class="fa-solid fa-envelope-open-text"></i>
          <a href="mailto:email@houzez.co">email&#64;houzez.co</a>
        </div>
      </div>
    </div>
    <div class="newsletter">
      <h3>Newsletter</h3>
      <div class="form">
        <form action="">
          <input class="newsletterInput" type="text" placeholder="Enter your email">
          <input class="submitInput" type="submit" value="submit">
        </form>
      </div>
      <p>
        Subscribe to get last news of real states
      </p>
    </div>
  </div>
</footer>
<!-- End Main Footer -->
<!-- Start Last Footer -->
<footer class="last-footer">
  <div class="container">
    <p>
      © Houzez - All rights reserved
    </p>
    <div class="img">
      <a routerLink="/">
        <img class="imgLogo" src="/images/logo-houzez.webp" alt="houzez logo">
      </a>
    </div>
    <div class="icons">
      <a href="#">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a href="#">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a href="#">
        <i class="fa-brands fa-google-plus-g"></i>
      </a>
      <a href="#">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a href="#">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="#">
        <i class="fa-brands fa-pinterest-p"></i>
      </a>
      <a href="#">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>
  </div>
</footer>
<!-- End Last Footer -->
<!-- End Footer -->
