<app-header></app-header>
<div class="header" style="background-color: #00335A; height: 90px;"></div>
<div class="agent-profile" style="background-color: #f7f8f9;">
  <div class="container">
    <div class="details-box">
      <div class="img">
        <img src="/images/agent-3.jpg" alt="">
      </div>
      <div class="text">
        <div class="head">
          <h2>Michelle Ramirez</h2>
          <div class="company">
            <p>
              Company Agent at <a routerLink="">Modern House Real Estate</a>
            </p>
          </div>
        </div>
        <div class="body">
          <a class="mail" href="mailto:">Send Email</a>
          <a class="call" href="tel:">Call</a>
        </div>
      </div>
    </div>
    <div class="about-box">
      <h3>About <span>Michelle Ramirez</span></h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porta justo eget risus consectetur, non
        venenatis
        elit blandit. Mauris vehicula, libero a iaculis fringilla, ipsum ipsum tincidunt velit, ut convallis velit ante
        tincidunt dui. Sed iaculis ullamcorper pellentesque. Nam congue nisi eu orci laoreet, nec tristique dolor
        scelerisque.
        Aenean mauris sem, commodo et accumsan ac, dictum vitae sem. Sed bibendum nunc neque, in auctor enim ultricies
        nec.
        Proin ornare nibh libero, id euismod nulla aliquam et. Nam eget augue ut dolor sagittis feugiat. Nullam et nibh
        id
        lacus
        mollis laoreet eu et mi.
      </p>
    </div>
    <div class="contact-box">
      <h3>Contact</h3>
      <div class="address">
        <i class="fa-solid fa-location-dot"></i>
        <p>7698 Creekwood Park Blvd, Lenoir City, TN 37772</p>
      </div>
      <div class="links">
        <div class="office">
          <h4>Office</h4>
          <a href="tel:8976541258">897 654 1258</a>
        </div>
        <div class="mobile">
          <h4>Mobile</h4>
          <a href="tel:8976541258">897 654 1258897 654 1258</a>
        </div>
        <div class="fax">
          <h4>Fax</h4>
          <a href="fax:8976541258">897 654 1258</a>
        </div>
        <div class="email">
          <h4>Email</h4>
          <a href="mailto:michelle@houzez.com">michelle&#64;houzez.com</a>
        </div>
        <div class="website">
          <h4>Website</h4>
          <a href="https://houzez.co">https://houzez.co</a>
        </div>
      </div>
      <div class="social">
        <p>Find <span>Michelle Ramirez</span> on:</p>
        <div class="contact-icons">
          <div class="whats">
            <a href=""><i class="fa-brands fa-whatsapp"></i></a>
          </div>
          <div class="face">
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
          </div>
          <div class="insta">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
          </div>
          <div class="linked">
            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
