.real-estate-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background-color: #f9f9f9;
  border: 1px dashed #057aaf;
  border-radius: 10px;
  transition: background-color 0.5s ease;
  margin-bottom: 30px;
}

.real-estate-section:hover {
  background-color: #e0f5fc;
}

.image-container img {
  width: 350px;
  height: auto;
  border-radius: 50%;
  transform: scale(0.9);
  transition: transform 0.5s ease;
}

.image-container img:hover {
  transform: scale(1.05);
}

.text-container {
  flex: 1;
  padding-left: 20px;
  text-align: left;

  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.number-circle {
  width: 4rem;
  height: 4rem;
  border: 2px solid #057aaf;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #057aaf;
  font-size: 20px;
  margin-bottom: 10px;
  transform: scale(0.9);
  transition: transform 0.5s ease;
}

.number-circle:hover {
  transform: scale(1.1);
}

hr {
  position: relative;
  border-radius: 20px;
  width: 25%;
  height: 8px;
  background: #057aaf;
  margin-bottom: 20px;
  top: 10px;

}


h3 {
  font-size: 24px;
  color: #333;
  transform: translateY(20px);


}



p {
  font-size: 18px;
  color: #555;
  transform: translateY(20px);


}



@media (max-width: 768px) {
  .real-estate-section {
    flex-direction: column;
    text-align: center;
  }

  .text-container {
    padding-left: 0;
  }

  .image-container img {
    width: 150px;
  }
}
