<div class="real-estate-section">
  <div class="image-container">
    <img src="/images/Images/drone-image.png" alt="Real Estate Photography">
  </div>
  <div class="text-container">
    <div class="number-circle">1</div>
    <h3>Real Estate Photography</h3>
    <hr>
    <p>Enhance your property with stunning images. Let us help you create a story that grabs attention and drives
      bookings.</p>
  </div>
</div>


<div class="real-estate-section">
  <br><br><br>
  <div class="image-container">
    <img src="/images/Images/RealEstate-Promotion.png" alt="Real Estate Photography">
  </div>
  <div class="text-container">
    <div class="number-circle">2</div>
    <h3>Real Estate Promotion</h3>
    <hr>
    <p>Real estate is marketed extensively to connect you with the right audience.</p>
  </div>
</div>


<div class="real-estate-section">
  <br><br><br>
  <div class="image-container">
    <img src="/images/Images/Efficomm.png" alt="Real Estate Photography">
  </div>
  <div class="text-container">
    <div class="number-circle">3</div>
    <h3>Efficteve Communication</h3>
    <hr>
    <p>At Our Firm, we excel at multi-faceted communication to achieve real estate success.</p>
  </div>
</div>


<div class="real-estate-section">
  <br><br><br>
  <div class="image-container">
    <img src="/images/Images/Tenant.png" alt="Real Estate Photography">
  </div>
  <div class="text-container">
    <div class="number-circle">4</div>
    <h3>Facilitate Tenant Entry</h3>
    <hr>

    <p>Ensuring that tenants move in and out smoothly is vital. Our team of experts ensures a hassle-free process.</p>
  </div>
</div>
