<div class="real-estate-section">
  <div class="image-container">
    <img src="/images/Images/PM1.png" alt="Real Estate Management" />
  </div>
  <div class="text-container">

    <h3>Real Estate Management Program</h3>
    <hr />
    <p>
      We offer professional property management services to improve the care of your properties and increase
      investments.
    </p>
  </div>
</div>
<div class="real-estate-section">

  <div class="text-container">
    <h3>Property Management Program</h3>
    <hr>
    <p>We offer comprehensive services for managing properties, aimed at improving the maintenance and care of your real
      estate assets. Our innovative solutions help you achieve maximum investment returns.</p>
  </div>
</div>
<div class="real-estate-section">
  <div class="image-container">
    <img src="/images/Images/PM2.png" alt="Services">
  </div>
  <div class="text-container">
    <h3>What Do We Offer?</h3>
    <hr>
    <ul class="offer-list">
      <li>Initial on-site inspection</li>
      <li>Contract documentation</li>
      <li>Facilitating tenant move-in/move-out</li>
      <li>Insurance services</li>
      <li>Client service</li>
    </ul>
    <br>
    <a routerLink="/subscription" class="order-btn">Order Now</a>
  </div>
</div>
