<app-header></app-header>
<div class="header" style="background-color: #00335A; height: 90px;"></div>
<div class="agents-page" style="background-color: #f7f8f9;">
  <div class="container">
    <h1>Agents</h1>
    <div class="agents-container">
      <div class="agent-box">
        <div class="img">
          <a routerLink="">
            <img src="/images/agent-3.jpg" alt="">
          </a>
        </div>
        <div class="text">
          <h3 class="name">
            <a routerLink="">Samuel Palmer</a>
          </h3>
          <div class="role">
            Company Agent at
            <a routerLink="">Modern House Real Estate</a>
          </div>
          <div class="contact-text">
            <div class="office">
              <h4>Office</h4>
              <a href="tel:3214569865">321 456 9865</a>
            </div>
            <div class="mobile">
              <h4>Mobile</h4>
              <a href="tel:3214569865">321 456 9865</a>
            </div>
            <div class="Fax">
              <h4>Fax</h4>
              <a href="fax:3214569865">321 456 9865</a>
            </div>
            <div class="Email">
              <h4>Email</h4>
              <a href="mailto:samuel@houzez.com">samuel&#64;houzez.com</a>
            </div>
          </div>
          <div class="last-line">
            <div class="contact-icons">
              <div class="whats">
                <a href=""><i class="fa-brands fa-whatsapp"></i></a>
              </div>
              <div class="face">
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
              </div>
              <div class="insta">
                <a href=""><i class="fa-brands fa-instagram"></i></a>
              </div>
              <div class="linked">
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
              </div>
            </div>
            <div class="view">
              <a routerLink="">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="agent-box">
        <div class="img">
          <a routerLink="">
            <img src="/images/agent-3.jpg" alt="">
          </a>
        </div>
        <div class="text">
          <h3 class="name">
            <a routerLink="">Samuel Palmer</a>
          </h3>
          <div class="role">
            Company Agent at
            <a routerLink="">Modern House Real Estate</a>
          </div>
          <div class="contact-text">
            <div class="office">
              <h4>Office</h4>
              <a href="tel:3214569865">321 456 9865</a>
            </div>
            <div class="mobile">
              <h4>Mobile</h4>
              <a href="tel:3214569865">321 456 9865</a>
            </div>
            <div class="Fax">
              <h4>Fax</h4>
              <a href="fax:3214569865">321 456 9865</a>
            </div>
            <div class="Email">
              <h4>Email</h4>
              <a href="mailto:samuel@houzez.com">samuel&#64;houzez.com</a>
            </div>
          </div>
          <div class="last-line">
            <div class="contact-icons">
              <div class="whats">
                <a href=""><i class="fa-brands fa-whatsapp"></i></a>
              </div>
              <div class="face">
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
              </div>
              <div class="insta">
                <a href=""><i class="fa-brands fa-instagram"></i></a>
              </div>
              <div class="linked">
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
              </div>
            </div>
            <div class="view">
              <a routerLink="">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="agent-box">
        <div class="img">
          <a routerLink="">
            <img src="/images/agent-3.jpg" alt="">
          </a>
        </div>
        <div class="text">
          <h3 class="name">
            <a routerLink="">Samuel Palmer</a>
          </h3>
          <div class="role">
            Company Agent at
            <a routerLink="">Modern House Real Estate</a>
          </div>
          <div class="contact-text">
            <div class="office">
              <h4>Office</h4>
              <a href="tel:3214569865">321 456 9865</a>
            </div>
            <div class="mobile">
              <h4>Mobile</h4>
              <a href="tel:3214569865">321 456 9865</a>
            </div>
            <div class="Fax">
              <h4>Fax</h4>
              <a href="fax:3214569865">321 456 9865</a>
            </div>
            <div class="Email">
              <h4>Email</h4>
              <a href="mailto:samuel@houzez.com">samuel&#64;houzez.com</a>
            </div>
          </div>
          <div class="last-line">
            <div class="contact-icons">
              <div class="whats">
                <a href=""><i class="fa-brands fa-whatsapp"></i></a>
              </div>
              <div class="face">
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
              </div>
              <div class="insta">
                <a href=""><i class="fa-brands fa-instagram"></i></a>
              </div>
              <div class="linked">
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
              </div>
            </div>
            <div class="view">
              <a routerLink="">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="agent-box">
        <div class="img">
          <a routerLink="">
            <img src="/images/agent-3.jpg" alt="">
          </a>
        </div>
        <div class="text">
          <h3 class="name">
            <a routerLink="">Samuel Palmer</a>
          </h3>
          <div class="role">
            Company Agent at
            <a routerLink="">Modern House Real Estate</a>
          </div>
          <div class="contact-text">
            <div class="office">
              <h4>Office</h4>
              <a href="tel:3214569865">321 456 9865</a>
            </div>
            <div class="mobile">
              <h4>Mobile</h4>
              <a href="tel:3214569865">321 456 9865</a>
            </div>
            <div class="Fax">
              <h4>Fax</h4>
              <a href="fax:3214569865">321 456 9865</a>
            </div>
            <div class="Email">
              <h4>Email</h4>
              <a href="mailto:samuel@houzez.com">samuel&#64;houzez.com</a>
            </div>
          </div>
          <div class="last-line">
            <div class="contact-icons">
              <div class="whats">
                <a href=""><i class="fa-brands fa-whatsapp"></i></a>
              </div>
              <div class="face">
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
              </div>
              <div class="insta">
                <a href=""><i class="fa-brands fa-instagram"></i></a>
              </div>
              <div class="linked">
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
              </div>
            </div>
            <div class="view">
              <a routerLink="">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="agent-box">
        <div class="img">
          <a routerLink="">
            <img src="/images/agent-3.jpg" alt="">
          </a>
        </div>
        <div class="text">
          <h3 class="name">
            <a routerLink="">Samuel Palmer</a>
          </h3>
          <div class="role">
            Company Agent at
            <a routerLink="">Modern House Real Estate</a>
          </div>
          <div class="contact-text">
            <div class="office">
              <h4>Office</h4>
              <a href="tel:3214569865">321 456 9865</a>
            </div>
            <div class="mobile">
              <h4>Mobile</h4>
              <a href="tel:3214569865">321 456 9865</a>
            </div>
            <div class="Fax">
              <h4>Fax</h4>
              <a href="fax:3214569865">321 456 9865</a>
            </div>
            <div class="Email">
              <h4>Email</h4>
              <a href="mailto:samuel@houzez.com">samuel&#64;houzez.com</a>
            </div>
          </div>
          <div class="last-line">
            <div class="contact-icons">
              <div class="whats">
                <a href=""><i class="fa-brands fa-whatsapp"></i></a>
              </div>
              <div class="face">
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
              </div>
              <div class="insta">
                <a href=""><i class="fa-brands fa-instagram"></i></a>
              </div>
              <div class="linked">
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
              </div>
            </div>
            <div class="view">
              <a routerLink="">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="agent-box">
        <div class="img">
          <a routerLink="">
            <img src="/images/agent-3.jpg" alt="">
          </a>
        </div>
        <div class="text">
          <h3 class="name">
            <a routerLink="">Samuel Palmer</a>
          </h3>
          <div class="role">
            Company Agent at
            <a routerLink="">Modern House Real Estate</a>
          </div>
          <div class="contact-text">
            <div class="office">
              <h4>Office</h4>
              <a href="tel:3214569865">321 456 9865</a>
            </div>
            <div class="mobile">
              <h4>Mobile</h4>
              <a href="tel:3214569865">321 456 9865</a>
            </div>
            <div class="Fax">
              <h4>Fax</h4>
              <a href="fax:3214569865">321 456 9865</a>
            </div>
            <div class="Email">
              <h4>Email</h4>
              <a href="mailto:samuel@houzez.com">samuel&#64;houzez.com</a>
            </div>
          </div>
          <div class="last-line">
            <div class="contact-icons">
              <div class="whats">
                <a href=""><i class="fa-brands fa-whatsapp"></i></a>
              </div>
              <div class="face">
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
              </div>
              <div class="insta">
                <a href=""><i class="fa-brands fa-instagram"></i></a>
              </div>
              <div class="linked">
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
              </div>
            </div>
            <div class="view">
              <a routerLink="">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
