<form action="">
  <div class="fields-container">
    <div>
      <i class="fa-regular fa-user"></i>
      <input type="text" name="" id="" placeholder="Username or Email">
    </div>
    <div>
      <i class="loginIcon fa-solid fa-lock"></i>
      <input type="password" name="" id="" placeholder="Password">
    </div>
  </div>
  <div class="remember">
    <div>
      <input type="checkbox" name="" id="">
      <label for="">Remember me</label>
    </div>
    <a routerLink="/login">Lost your password?</a>
  </div>
  <input class="submit" type="submit" value="Login">
</form>
