<div class="header">
  <div class="reset">
    <h3>Reset Password</h3>
  </div>
  <div class="close">
    <i class="fa-solid fa-xmark"></i>
  </div>
</div>
<div class="body">
  <form action="">
    <p>
      Please enter your username or email address. You will receive a link to create a new password via email.
    </p>
    <div class="fields-container">
      <div>
        <input type="text" name="" id="" placeholder="Enter your username or email">
      </div>
    </div>
    <input class="submit" type="submit" value="Get new password">
  </form>

</div>
